<div ng-include="'views/menu.html'"></div>

<h1>Editar confesion</h1>
<!--<div class='mensaje'>{{ mensaje }}</div>-->
<section id="formconfesar">
	<h2>Confesar</h2>
	<form ng-submit="editar()">
		<div class="container_conf">
			<div class="control-form">
				<input type="text" id="confesion" ng-model="confesion.TITULO" class="form-control">
				<label for="confesion" class="control-label">TITULO</label>
			</div>
			<div class="control-form">
				<textarea id="confesion" ng-model="confesion.CONFESION" class="form-control"></textarea>
				<label for="confesion" class="control-label">CONFESION</label>
			</div>
		<button class="btn btn-primary" id="btn_confesar">Editar</button>
		<span class="mensaje_form" ng-show="mensaje_confesion">{{ confesion_mensaje }}</span>
		<span class="mensaje_form" ng-show="mensaje_titulo">{{ titulo_mensaje }}</span>
		</div>
	</form>
</section>
